
.orange{
  background-color: #fbc433;
}
.blue{
  background-color: #0275d8;
}
.red{
  background-color: #c9302c;
}
.green{
  background-color: #5cb85c;
}
.square{
  width: 39px;
  height: 39px;
}
table{
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  border: 3px solid black;
  border-spacing: 0;
  padding:0;
  text-align: center;
  vertical-align: middle;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.tile{
  display: table-cell;
  background-color: #FBFB69;
  width: 37px;
  height: 36px;
  padding: 0;
  margin: 0;
  text-align: center;
  vertical-align: middle;
}

.navbar{
  background-color: #FFC733;
  height: 100px;
  margin-bottom: 20px;

}

nav{
  display: table;
}

.navbar-item{
  display: table-cell;
  padding: 20px;
  vertical-align: middle;
  
}

.list-group{
  margin-top: 20px;
  margin-bottom: 20px;
}

.new-game{
  margin-top: 20px;
  margin-bottom: 20px;
}

.welcome-banner{
 text-align: center;
}

