
.orange{
  background-color: orange;
}
.blue{
  background-color: blue;
}
.red{
  background-color: red;
}
.green{
  background-color: green;
}
.square{
  width: 30px;
  height: 30px;
}
table{
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  border: 1px solid black;
}
