
.orange{
  background-color: orange;
}
.blue{
  background-color: blue;
}
.red{
  background-color: red;
}
.green{
  background-color: green;
}
.square{
  width: 39px;
  height: 39px;
}
table{
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  border: 1px solid black;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.tile{
  background-color: yellow;
  width: 39px;
  height: 39px;
  margin: 0;
  text-align: center;
  line-height: 39px;
}

.navbar{
  background-color: #FFC733;
  height: 100px;
  margin-bottom: 20px;

}

nav{
  display: table;
}

.navbar-item{
  display: table-cell;
  padding: 20px;
  vertical-align: middle;
  
}

.list-group{
  margin-top: 20px;
  margin-bottom: 20px;
}

.new-game{
  margin-top: 20px;
  margin-bottom: 20px;
}

